@define-color fg white;
@define-color bg #000;

* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaMono Nerd Font Propo";
  font-size: 13;
  min-height: 0;
  padding: 0;
  margin: 0;
}
  

window#waybar {
  background: black;
}

.modules-left, .modules-center, .modules-right {
  padding: 3px 5px;
}

.module {
  background: @bg;
  padding: 0 5px;
  margin: 0 2px;
  border-radius: 15px;
}

#workspaces {
  background: @bg;
  padding: 2px 5px;
  border: none;
}

#workspaces button {
  min-width: 20px;
  padding: 2px;
  margin: 0 2px;
  transition: all 150ms;
}

#workspaces button.active {
  background: @fg;
  color: @bg;
}


#workspaces button.empty {
  opacity: 0.5;
}


#workspaces button.urgent {
  background: red;
}
